@media screen and (max-width: 690px) {
  section {
    height: 65vh;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.cardExp {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: -2px 4px 15px rgb(0 0 0 / 26%);
}

.card__img {
  position: relative;
  width: 100%;
  height: 100%;
  height: auto; /* Asegurar que la imagen mantenga su proporción */
  aspect-ratio: 16/9; /* Definir la proporción de las imágenes */
}

.imgCover {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  padding: 20px;
}

.card__img:hover .imgCover {
  transition: all 0.5s ease-in-out; /* Pequeño zoom al pasar el mouse */
}

.card__img:hover .card__overlay {
  opacity: 1;
}

  
.imgCover{
  width:100%;
  display:block;
  height:100%;
  object-fit:cover;
}

section {
  /* border: 3px solid #ff7b29 ; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  place-content: center;
  grid-template-rows: 50% 50%;
  height: 80vh;
  min-height: 460px;
  padding: max(2vh, 1.5rem);
}

@media screen and (max-width: 700px) {
  section {
    grid-template-columns: 1fr !important;
  }
}

  
.cardExp:nth-child(2) {
  grid-column: 2/3;
  grid-row: span 2;
}
  
@media screen and (max-width: 690px) {
  .cardExp:nth-child(2) {
    grid-column: span 1;
    grid-row: span 1;
  }
}
  
.cardExp:nth-child(3) {
  grid-column: span 2;
}

@media screen and (max-width: 690px) {
  .cardExp:nth-child(3) {
    grid-column: 2/4;
    grid-row: 1/2;
  }
}

@media screen and (max-width: 690px) {
  .cardExp:nth-child(6) {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .cardExp p {
    font-size: 2.0vw
  }
}

@media screen and (max-width: 470px) {
  .cardExp:nth-child(5) {
    grid-column: span 2;
  }

  .cardExp p {
    font-size: 10px;
  }
}

@media screen and (max-width: 1070px) {
  .cardExp h2 {
    font-size: 18px;
  }
}

.cardExp p {
  /* font-size: clamp(0.2rem, 0.875rem + 0.125vw, 1rem); */
  line-height: 1.4;
}

.cardExp img {
  border-radius: 25px;
}

.cardExp .card__img {
  position: relative;
  height: 100%;
}

.cardExp .card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  color: #fff;
  /* padding: '5vw'; */
  padding: clamp(0.938rem, 1vw, 1.563rem);
  background: rgb(2, 2, 46);
  background: linear-gradient(0deg, rgb(0 0 0 / 57%) 0%, rgb(255 255 255 / 0%) 100%);
  width: 100%;
  height: 100%;
  border-radius: 25px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.cardExp .card__img span {
  position: absolute;
  top: 25px;
  left: min(2vmax, 1.563rem);
  color: #ff7b29;
  background: #fff;
  border-radius: 50px;
  padding: 2px 8px 2px 6px;
  display: flex;
  box-shadow: 0px 1px 20px #0000002b;
}

@media screen and (max-width: 690px) {
  .cardExp .card__img span {
    top: 20px;
  }

  .cardExp h2{
    font-size: 15px;
  }
}

@media screen and (max-width: 470px) {
  .cardExp .card__img span {
    top: 15px;
  }

  .cardExp h2{
    font-size: 10px;
  }
}

.cardExp .card__img span svg {
  fill: #ff7b29;
  width: 20px;
  margin-right: 2px;
}

/* span {
  position: absolute;
  top: 25px;
  left: min(2vmax, 1.563rem);
  color: #ff7b29;
  background: #fff;
  border-radius: 50px;
  padding: 2px 8px 2px 6px;
  display: flex;
  box-shadow: 0px 1px 20px #0000002b;
} */

.cardExp svg {
  fill: #ff7b29;
  width: 20px;
  margin-right: 2px;
}